DirectoryIndex index.php login.php index.html

Options -Indexes +FollowSymLinks

<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>

<FilesMatch "\.(env|log|ini|md)$">
    Require all denied
</FilesMatch>
